@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

:root {
    --fonteTitulo: 'Rubik', Arial, Helvetica, sans-serif;
    --fontPadrao: 'Nunito', Helvetica, sans-serif;

    --cor1: #2c4054;
    --cor2: #051320;
    --cor3: #09dafa;
    --cor4: #ebeeed;
}

body {
    background: rgb(0 11 23);
    font-family: var(--fonteTitulo);
}


main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main h1{
    color: white;
    margin-bottom: 40px;
    font-size: 1.3em;
    font-weight: 400;
}

#container {
    background: rgb(236, 236, 236);
    max-width: 350px;
    min-width: 290px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    color: black;
}

input{
    box-sizing: border-box;
    border: none;
    padding: 5px;
    border-radius: 50px;
    margin: 5px 0px 20px 0px;
    outline: none;
}

input:hover {
    border: 1.9px solid var(--cor2);
}

input:focus{
    border: 1.9px solid var(--cor2);
}

input::placeholder{
    color: #b1b1b1;
    font-size: .95em;
    padding-left: 5px;
}

img {
    width: 90px;
}

#enviar {
    background-image: linear-gradient(to left, var(--cor3), rgb(0, 102, 255));
    color: var(--cor4);
    border: none;
}