@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

:root {
    --fonteTitulo: 'Rubik', Arial, Helvetica, sans-serif;
    --fontPadrao: 'Nunito', Helvetica, sans-serif;

    --cor1: #2c4054;
    --cor2: #051320;
    --cor3: #09dafa;
    --cor4: #ebeeed;
}
body {
    background: rgb(0 11 23);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
main h1{
    color: var(--cor4);
    margin-bottom: 20px;
}
img {
    width: 90px;
}
#container {
    background: rgb(255, 255, 255);
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
label{
    color: #051320;
    margin: 5px 0px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn{
    border: none;
    padding: 5px;
    margin: 10px 0px;
    outline: none;
}
.btn-input {
    background: transparent;
    border-bottom: 2px solid #051320;
}
.btn-input::placeholder{
    color: var(--cor2);
}
.btn-submit{
    background-image: linear-gradient(to left, var(--cor3), rgb(0, 102, 255));
    color: var(--cor4);
    border: none;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-submit:hover{

}