@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    font-family: var(--fonteTitulo);
}

:root {
    --fonteTitulo: 'Rubik', Arial, Helvetica, sans-serif;
    --fontPadrao: 'Nunito', Helvetica, sans-serif;

    --cor1: #2c4054;
    --cor2: #051320;
    --cor3: #09dafa;
    --cor4: #ebeeed;
}

body{
    background: var(--cor4);
}

strong {
    background-image: linear-gradient(to right, #0092ac 5%, #09dafa); /* Gradiente horizontal de vermelho para azul */
    background-clip: text; /* Aplicar o gradiente somente ao texto */
    color: transparent; /* Torna o texto transparente para revelar o gradiente */
    -webkit-background-clip: text;
}

.max-w {
    max-width: 890px;
    margin: 0px;
    margin: auto;
    padding: 0px;
    /*border: 1px solid black;*/
}

menu {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: var(--cor1);
    color: var(--cor4);
    padding-top: 0px;
}

menu div img {
    height: 40px;
    margin: auto;
}

menu div {
    flex-grow: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

menu div nav a{
    font-size: .8em;
    padding-right: 22px;
    text-decoration: none;
    position: relative;
    color: var(--cor4);
}

menu div nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor3);
    transition: width 0.3s;
}
  
menu div nav a:hover {
    color: var(--cor3);
    padding-bottom: 5px;
}
  
menu div nav a:hover::before {
    width: 70%; /* Largura da linha ao passar o mouse */
}

.bg {
    background: var(--cor2);
}

header #container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 470px;
}

header #txt {
    display: flex;
    flex-direction: column;
    color: var(--cor4);
}

header #txt h1{
    width: 60%;
    font-size: 2em;
    margin-bottom: 20px;
}

header #txt p{
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#cadastrar, #logar {
    display: inline;
    border: none;
    width: 137px;
    height: 41px;
    border-radius: 5px;
    color: #747474;
    font-size: 1em;
    transition: .3s;
}

#cadastrar:hover, #logar:hover {
    border: 1px solid var(--cor3);
    background: transparent;
    box-shadow: 0px 0px 5px 1px var(--cor3);
    color: var(--cor4);
    font-weight: bold;
    cursor: pointer;
}

header div img {
    width: 500px;
}

#container1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between; 
}

#section1 {
    margin-bottom: 80px;
}

#section1 h2 {
   text-align: center;
   margin-top: 80px;
   margin-bottom: 10px;
   font-size: 1.5em;
}

#section1 > p {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}

#container1 div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 212px;
    height: 225px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    
}

#container1 div h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}

div #container-section2 {
    display: flex;
    height: 540px;
    justify-content: center;
    align-items: center;
}

#container-mvv {
    color: var(--cor4);
    width: 100%;
}

#container-mvv h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

#container-mvv p {
    margin-bottom: 10px;
    width: 70%;
}

#container-mvv p, ul{
    border-left: 5px solid var(--cor3);
    padding: 20px 0px 20px 20px;
    background-image: linear-gradient(to right, #06e3fc1c, transparent);
}

#container-mvv ul{
    list-style: none;
    width: 70%;
}

#container-img-p{
    flex-basis: 40%;
    margin: 20px;
    color: var(--cor4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section3 {
    height: 565px;
    display: flex;
}

#section3 div{
    margin: auto;
    height: 450px;
    width: 800px;
}

#video{
    width: 100%; 
}

#video iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 4px solid var(--cor2);
    box-shadow: 0px 0px 70px #00b8d982;
}

#section4 {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 100%;
    color: var(--cor4);
}

#section4 h2 {
    font-size: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    width: 60%;
}

#section4 {
    text-align: center;
}

footer {
    display: flex;
    height: 30px;
    font-size: .8em;
    text-align: center;
    align-items: center;
    background: var(--cor1);
    color: white;
}